In [6]:
import keyword
print(keyword.kwlist)
print("\n Total no. of keywords",len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

 Total no. of keywords 35

In [8]:
a=10
a

10

In [10]:
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [12]:
a=b=c=4
print(a,b,c)

4 4 4

In [13]:
x=3
print(id(x))

140735400219520

In [14]:
y=3
print(id(y))

140735400219520

In [15]:
x=2
print(id(x))

140735400219488

In [16]:
type(x)

int

In [17]:
s='this is jupiter'
s

'this is jupiter'

In [22]:
s='''This is
      jupiter'''
print(s)

This is
      jupiter

In [25]:
s[len(s)-1]

'r'

In [28]:
a=10
print (a)  #print a  doesnot work from python 3 onwards

10

In [31]:
a=10;b=20
print("the value of a is {} and value of b is {}".format(a,b))

the value of a is 10 and value of b is 20

In [32]:
print("the value of b is {1} and a is {0} ".format(a,b))

the value of b is 20 and a is 10

In [33]:
print("Hello {name} , {greeting} ".format(name='satish', greeting ='Good morning'))

Hello satish , Good morning

In [35]:
print("the story of {0},{1} and {other}".format('bill','john',other='lee'))

the story of bill,john and lee

In [38]:
num=input("enter a number: ")
print(num)

enter a number: 576
576

In [41]:
a=10;b=20;c=15
if a>b & a>c:
    largest = a
elif b>c:
    largest = b
else:
    largest = c
print("largest number is {}".format(largest))

largest number is 20

In [46]:
#product of numbers in a list using for loop
lst=[10,20,30,40]
prod = 1
i=0
while i<len(lst):
    prod*=lst[i]
    i+=1
    
prod

240000

In [55]:
lst=[10,20]
i=0
while i<len(lst):
    print(lst[i])
    i+=1
else:
    print("no items left")

10
20
no items left

In [62]:
#to check number is prime or not
num =int(input("enter a number:"))
i=1
count=0
while i<num:
    if num%i==0:
        count+=1
        print('divisible by: {}'.format(i))
    i+=1
print('count',count)
if count==1:
    print('number is prime :{}'.format(num))
else:
    print('number is not prime :{}'.format(num))

enter a number:11
divisible by: 1
count 1
number is prime :11

In [64]:
num=int(input("enter a num:"))
isDivisible =False
i=2
while i<num:
    if num%i==0:
        isDivisible =True
        print("{} is divisible by {} :".format(num,i) )
    i+=1
if isDivisible:
    print ("Number is not a Prime:{}".format(num))
else:
    print("Number is prime: {}".format(num))

enter a num:12
12 is divisible by 2 :
12 is divisible by 3 :
12 is divisible by 4 :
12 is divisible by 6 :
Number is not a Prime:12

In [65]:
for i in range(1,20,4):
    print(i)
#for(i=1;i<n;i++) in Java

1
5
9
13
17

In [67]:
lst=['a','b','c']
for i in range(len(lst)):
    print(lst[i])

a
b
c

In [68]:
lst=['a','b','c']
for i in lst:
    print(i)

a
b
c

In [72]:
#Display all prime numbers within intervals
a=10;b=20

for i in range(10,20,1):
    if i>1:
        isDivisible=False
        for j in range(2,i):
            if i%j==0:
                isDivisible =True
                break;
        if not isDivisible:
            print("The prime numbers between 10 and 20 are: {}".format(i))

The prime numbers between 10 and 20 are: 11
The prime numbers between 10 and 20 are: 13
The prime numbers between 10 and 20 are: 17
The prime numbers between 10 and 20 are: 19

In [75]:
lst=['one','two','three']
lst.append('four')
lst

['one', 'two', 'three', 'four']

In [78]:
lst.insert(2,'five')
lst

['one', 'two', 'five', 'five', 'five', 'three', 'four']

In [79]:
lst.remove('five') #it removes first occurance
lst

['one', 'two', 'five', 'five', 'three', 'four']

In [82]:
lst1=['one','two']
lst2=['three']
lst1.append(lst2)
lst1

['one', 'two', ['three']]

In [83]:
lst1=['one','two']
lst2=['three']
lst1.extend(lst2)
lst1      #extend will join two lists

['one', 'two', 'three']

In [85]:
#del to remove item based on index position
lst=['one','two','three']
del lst[1]
print(lst)

#we can also use pop method
a=lst.pop(1)
print(a)
print(lst)

['one', 'three']
three
['one']

In [86]:
lst

['one']

In [87]:
lst.remove('one')
lst

[]

In [88]:
lst=['one','two']
if 'one' in lst:
    print('one')
if 'six'  not in lst:
    print('ML')

one
ML

In [89]:
lst.reverse()
lst

['two', 'one']

In [91]:
#Create a list with numbers
lst=[6,2,7,4,5]
sorting = sorted(lst)
print('sorted list :',sorting)  #ascending order
print('Original list : ',lst)

sorted list : [2, 4, 5, 6, 7]
Original list :  [6, 2, 7, 4, 5]

In [92]:

lst=[6,2,7,4,5]
sorting = sorted(lst,reverse =True) #descending
print('sorted list :',sorting)
print('Original list : ',lst)

sorted list : [7, 6, 5, 4, 2]
Original list :  [6, 2, 7, 4, 5]

In [94]:
#sort the list and store it in itself
lst=[6,2,7,4,5]
lst.sort()
print('sorted list: ',lst)

sorted list:  [2, 4, 5, 6, 7]

In [96]:
#list with multiple references
lst=[1,2,3,4,5]
abc=lst
abc.append(6)
print('list :',lst)

list : [1, 2, 3, 4, 5, 6]

In [101]:
#split
ls='a,b,c'
s =ls.split(',')
print(s)

['a', 'b', 'c']

In [102]:
ls="this is hyd"
s=ls.split()
s

['this', 'is', 'hyd']

In [104]:
lst1=[1,2,3]
lst2=['a','b']
lst1+lst2

[1, 2, 3, 'a', 'b']

In [105]:
#count
lst=[1,1,2,3,4]
lst.count(1)  #frequency of 1

2

In [106]:
lst=[1,2,3]
for i in lst:
    print(i)

1
2
3

In [108]:
square =[]
for i in range(10):
    square.append(i**2)
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [110]:
#list comprehension
squares =[i**2 for i in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [111]:
lst=[1,2,3,-1]
new_lst =[i for i in lst if i>0]
new_lst

[1, 2, 3]

In [114]:
matrix =[
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

transposed =[]
for i in range(4):
    lst=[]
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)
print('transposed :',transposed)

transposed : [[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [118]:
transposed =[[row[i] for row in matrix] for i in range(4)]
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [119]:
#tuple
t=('satish')  #onluy paranthesis is not enough  #if more than one element then comma not necessary
type(t)

str

In [120]:
t=('satish',)  #comma is required
type(t)

tuple

In [122]:
#paranthesis is optional
t='satish',
type(t)

tuple

In [123]:
#tuple is immutable but an element inside tuple is mutable like list inside a tuple
t=(1,2,[3,4])
t[2][0] = 5 
t

(1, 2, [5, 4])

In [124]:
#concatenating tuple
t1=(1,2,3)
t2=(3,4,5)
t1+t2

(1, 2, 3, 3, 4, 5)

In [126]:
t=(('satish ')*4)
t

'satish satish satish satish '

In [127]:
#delete a tuple
del t

In [129]:
t = (1,1,2,3)
t.count(1)

2

In [130]:
t.index(3)

3

In [131]:
print(1 in t)

True

In [132]:
print(len(t))

4

In [136]:
t=(3,2,6)
s=sorted(t)
s

[2, 3, 6]

In [137]:
#max(t),min(t),sum(t)

In [138]:
#set
s={1,1,2,3} #sets doesnot allow diuplicates
s

{1, 2, 3}

In [139]:
#initialize a set with set() method
s = set()
type(s)

set

In [140]:
#sets doesnot support indexing
s={1,3}
s[0]

TypeError: 'set' object is not subscriptable

In [143]:
s.add(2)
s

{1, 2, 3}

In [144]:
#add multiple elements
s.update([4,5,6])
s

{1, 2, 3, 4, 5, 6}

In [145]:
s.update([6,7],{7,8})
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [146]:
s.discard(4)
s

{1, 2, 3, 5, 6, 7, 8}

In [147]:
s.remove(2)
s

{1, 3, 5, 6, 7, 8}

In [148]:
s.pop() #remove random element

1

In [149]:
s

{3, 5, 6, 7, 8}

In [151]:
s.clear() #remove all
s

set()

In [152]:
#python set operations
#union operation
set1={1,2,3,4,5}
set2={3,4,5,6,7}
print(set1 | set2) #or set1.union(set2)

{1, 2, 3, 4, 5, 6, 7}

In [154]:
#intersection
set1 & set2 #or set1.intersection(set2)

{3, 4, 5}

In [155]:
set1-set2 #set difference #or set1.difference(set2)

{1, 2}

In [156]:
#set of elements in both except that are in common -symmetric difference
print(set1^set2) #set1.symmetric_difference(set2)

{1, 2, 6, 7}

In [157]:
#check x is subset of y
#x.issubset(y)

In [159]:
#create empty dictionary
my_dict =dict()
my_dict

{}

In [160]:
md ={}
md

{}

In [161]:
#we can also perform operations on key value pairs
d={'a':1,'b':2,'c':3,'d':4}
d={k+'c':v*2 for k,v in d.items() if v>2}
d

{'cc': 6, 'dc': 8}

In [162]:
d.keys()

dict_keys(['cc', 'dc'])

In [163]:
d.values()

dict_values([6, 8])

In [164]:
d.items()

dict_items([('cc', 6), ('dc', 8)])

In [165]:
#get all available attributes and methods of dictionary
d={}
print(dir(d))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [166]:
'this is harish'.split()

['this', 'is', 'harish']

In [167]:
' '.join(['this','is','harish'])

'this is harish'

In [168]:
'good morning'.find('mo')

5

In [169]:
'bad morning'.replace('bad','good')

'good morning'

In [174]:
str ='good mor'
s=reversed(str)
s

In [ ]:
#to sort words in aplhabetic order

In [176]:
mystr = 'python program to sort'
words=mystr.split()
words.sort()
for word in words:
    print(word)

program
python
sort
to

In [3]:
def print_name(name):
    """
    This is name
    """
    print("My name is : ",str(name))

In [4]:
print_name('sai harish')

My name is :  sai harish

In [5]:
global_var ="Global variable"
def lifetime():
    local_var ="Local Variable"
    print(local_var)
    print(global_var)
    
lifetime()

Local Variable
Global variable

In [7]:
#print(local_var)
print(global_var)

Global variable

In [19]:
def computeHCF(a,b):
    smaller = b if a>b else a
    hcf = 1
    for i in range(1,smaller+1):
        if (a%i==0) and (b%i==0):
            hcf=i
    return hcf 
num1 =98
num2 =78
print("HCF of {0} and {1} is : {2}".format(num1,num2,computeHCF(num1,num2)))

HCF of 98 and 78 is : 2

In [20]:
#uilt in function
num=-100
abs(num)

100

In [21]:
lst =[1,2,3,4]
all(lst)  #returns true if all the elements in an iterable are true

True

In [23]:
lst =(0,1,2,3)  #0 or false is present returns false
all(lst)

False

In [25]:
num =[1,2,3]
dir(num)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [26]:
#filter function
def pos_num(num):
    if num>0:
        return num

In [27]:
lst=range(-10,10)
lst
num_lst = list(filter(pos_num,lst))
print(num_lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
#MAP

num =[1,2,3,4]
def power(n):
    return n**2
squared =list(map(power,num))
squared

[1, 4, 9, 16]

In [29]:
#default arguments
def greet(name,msg ="Good Morning"):
    print("{}, {} ".format(name,msg))
greet('satish','good night')

satish, good night

In [30]:
greet('satish')

satish, Good Morning

In [34]:
#arbitary arguments
def greet(*names):
    print(names)
    for i in names:
         print("{0}, Good Morning".format(i))
greet('satish','harish','balu')

('satish', 'harish', 'balu')
satish, Good Morning
harish, Good Morning
balu, Good Morning

In [35]:
#keyword arguments
def greet(**kwargs):
    if kwargs:
        print("Hello {0},{1} ".format(kwargs['name'],kwargs['msg']))
        
greet(name='satish',msg='good morning')

Hello satish,good morning

In [38]:
#recursive
def fact(num):
    return 1 if num==1 else (num*fact(num-1))

num=5
print(fact(num))

120

In [39]:
lst=[1,2,3,4]
print(list(filter(lambda x:x%2==0 ,lst )))

[2, 4]

In [40]:
lst=[1,2,3,4]
print(list(map(lambda x:x*2,lst)))

[2, 4, 6, 8]

In [42]:
from functools import reduce
lst =[1,2,3,4]
print(reduce(lambda x,y:x*y,lst))

24

In [45]:
#modules
import math
math.pi

3.141592653589793

In [46]:
import datetime
datetime.datetime.now()

datetime.datetime(2020, 3, 4, 9, 44, 4, 588533)

In [48]:
from datetime import datetime
datetime.now()

datetime.datetime(2020, 3, 4, 9, 45, 10, 27274)

In [49]:
dir(datetime)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']

In [51]:
print(datetime.time)

<method 'time' of 'datetime.datetime' objects>

In [55]:
f=open("C:\\Users\\Sai\\Downloads\\Jigsaw\\Trees.txt",'r')

In [56]:
f.read(4)

'\nBag'

In [57]:
f.readline()

'ging - bootstrap sampling\n'

In [58]:
f.tell()

32

In [61]:
f.seek(0)
for line in f:
    print(line)

Bagging - bootstrap sampling

Random - boot strap sampling, feature importance

Boosting - data re-weighing strategy



Re-weighing statergy - each successive tree pays more attention to parts of data that preceding trees have failed to correctly predict

Bootstap sampling - sampling by replacement

                   reduces out of sample error



bagging - unpruned decision trees as base learners

          bootstrapped sampling to create samples that are fed to each base learner



OOB error - in bootstrap sampling some observations gets left out from original data



parameters - no. of trees

             no. of observations in root node

             depth of tree models

             no. of features considered for each split

Parial dependence plot  - helps in understanding relationships between a dependent and independent variable. EXPENSIVE



Gini = 1-Epi2

Entropy = -Epilogpi reduces class imbalance

MSE or RSS - decides which variable to choose for a split

----------

clustering - finding interesting groups in a numeric data

Scree plot/Elbow plot -when total within SS for eachvalue of K is plotted to get an idea on optimum no of clusters

silhouette measure - to calculate appropriate optimum no of clusters

In [62]:
#import os
#os.rename('Trees.txt','tree1.txt')

In [63]:
import os
os.getcwd()

'C:\\Users\\Sai\\AppliedAI'

In [64]:
#os.chdir("")
os.listdir(os.getcwd())

['.ipynb_checkpoints', 'Python-basics-intro.ipynb']

In [65]:
#make new directory
#os.mkdir('test')
#os.rmdir('test')  #removes empty directory only

In [ ]:
#shutil.rmtree('test') #remove an non-empty directory

In [ ]:
#python built in exceptions
dir(__builtins__)

In [ ]:
#Debugging
import pdb
def seq(n):
    for i in range(n):
        pdb.set_trace() #breakpoint
        print(i)
    return
seq(5)